* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #121212;
  color: #F5F5F5;
}

main {
  min-height: calc(100vh - 64px);
}

a {
  color: inherit;
  text-decoration: none;
}
